@font-face {
  font-family: "Mi Sans Medium";
  src: url(assets/misansmedium.ttf) format("truetype");
}

html {
  overflow: hidden;
  background-image: url(assets/wallpaper.jpg);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.miuicat {
  margin: 0 auto;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.widgetname {
  font-family: 'Mi Sans Medium', sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 75vh;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-rendering: optimizeLegibility;
}

p {
  font-family: 'Mi Sans Medium', sans-serif;
  font-size: 13px;
  color: white;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 100%;
}

.ver {
  bottom: 19px;
}

.switch {
  height: 50px;
  width: 150px;
  background-color: #0099ff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-text {
  text-align: center;
  font-family: 'Mi Sans Medium', sans-serif;
  font-size: 17px;
  color: white;
  text-decoration: none;
}
